# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Python
 - R
  - SQL
- java

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. JAVA

Some of the commonly used libraries used by Data Scientists include:

1. Matpoltlib
2. Numpy
3. Scipy
4. Scikitlearn

| Data Science Tools | 
|--------------------|
| 1.Jupiter notebook               |
| 2.Jupiterlab                |
| 3.RStudio                 |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [5]:
200//60

3

In [6]:
200/60

3.3333333333333335

## Author

Sajad Motalebzadeh